html,
body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

// .box {
//   background: #fff;
//   border: 1px solid #999;
//   border-radius: 3px;
//   width: 180px;
//   height: 180px;
//   margin: 10px;
//   padding: 10px;
//   float: left;
//   position: relative;
// }

#board {
  display: block;
  width: 80vmin;
  height: 80vmin;
  overflow: hidden;

  .white {
    background-color: rgb(255, 248, 243);
    color: #000;
  }

  .black {
    background-color: rgb(107, 79, 46);
    color: #fff;
  }

  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 12.5%;
    height: 12.5%;
    margin: 0;
    padding: 0;

    // .whitePiece img {
    //   filter: invert(1) drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.836));
    // }

    .piece {
      font-size: 10px;
      touch-action: none;
      user-select: none;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        // width: 70%;
        height: 70%;
      }
    }
    .yellow {
      background: rgba(255, 255, 0, 0.623);
    }
  }
  .green {
    background: rgba(0, 128, 0, 0.563);
  }
}
